{% layout 'template' %}
{% block title %}
Vielen dank für deine Anmeldung zum Event am {{ date }}
{% endblock %}
{% block main %}
<h1>Hallo {{ name }},</h1>

<p>
  vielen Dank für deine Anmeldung zum Männerkreis-Event am {{ date }}. Wir freuen uns sehr, dass du dabei bist und
  gemeinsam mit uns eine inspirierende und stärkende Zeit verbringen möchtest.
</p>

<p>
  Bereite dich auf spannende Gespräche, wertvolle Erkenntnisse und eine tolle Gemeinschaft vor. Dein Engagement und
  deine Offenheit sind ein wichtiger Beitrag für das Gelingen unseres Kreises.
</p>

<p>Wir können es kaum erwarten, dich persönlich zu begrüßen und gemeinsam mit dir diesen besonderen Tag zu erleben.</p>

<p>Herzliche Grüße,</p>
<p>Markus Sommer</p>
{% endblock %}
